html, body {
    margin: 0;
    height: 100%;
}

#menu-bar {
    float: left;
    width: 200px;
    height: 100%;
    padding: 0 20px;
    display: block;
    background-color: #373837;
    color: #c9c9c9;
    font-family: sans-serif;
}

.controls-box > * {
    margin-bottom: 10px;
}

.controls-box:last-child {
    margin-bottom: 0;
}

#c {
    width: calc(100% - 240px);
    height: 100%;
    display: block;
}